@model MyMedia.Models.Playlist.PlayListDetailViewModel
@using MyMedia.Core.Enums;
@using MyMedia.Core.User;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager
<div class="container">
    <h2>@User.Claims.AsQueryable().ElementAt(1).Value's Playlist <i class="fas fa-angle-double-right"></i> @Model.Naam <i class="fas fa-angle-double-right"></i>Details</h2>
    <div class="row">
            @if (Model.MediaList != null && Model.MediaList.Any())
            {
                @foreach (var media in @Model.MediaList)
                {
                    <div>
                        @media.Titel
                        @if (media.Foto != null)
                        {
                            <img style="width: 350px; height: 250px;" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(media.Foto))" alt="@media.Titel Img" class="img-thumbnail" target="_blank" />
                        }
                    </div>
                }
            }
    </div>
    |<a asp-controller="PlayList" asp-action="Index">Back</a>
</div>




