@model MyMedia.Models.Playlist.PlayListIndexViewModel

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Naam)
        </td>
        <td>
            <div class="hit-the-floor">
                <h4>@Model.Naam</h4>
            </div>
        </td>

        <td>
            <a asp-action="Edit" asp-controller="Muziek" asp-route-id="@Model.Id"> Edit</a> |
            <a asp-action="Details" asp-controller="Muziek" asp-route-id="@Model.Id"> Details</a>
            <a asp-action="Delete" asp-controller="Muziek" asp-route-id="@Model.Id"> Delete</a>
        </td>

    </tr>