@model MyMedia.Models.Music.MusicListViewModel

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ZangersName)
        </td>
        <td>
            @if (@Model.Photo != null)
            {
                <img style="width: 300px; height: 120px;" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Photo))" alt="Movie Img" class="img-thumbnail" target="_blank" />
            }
            <div class="hit-the-floor">
                <h4>@Model.Titel</h4>
            </div>
        </td>

        <td>
            <a asp-action="Edit" asp-controller="Songs" asp-route-id="@Model.Id"> Edit</a> |
            <a asp-action="Details" asp-controller="Songs" asp-route-id="@Model.Id"> Details</a>
            <a asp-action="Delete" asp-controller="Songs" asp-route-id="@Model.Id"> Delete</a>
        </td>

    </tr>