@model MyMedia.Models.Music.MusicEditViewModel
@using Microsoft.AspNetCore.Identity
@using MyMedia.Core.User;
@inject SignInManager<MediaUser> SignInManager
@inject UserManager<MediaUser> UserManager

<div class="container">
    <h2>Music <i class="fas fa-angle-double-right"></i>Edit</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-controller="Songs" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" />
                <div class="form-group">
                    <label asp-for="@Model.ZangersName" class="control-label"></label>
                    <input asp-for="@Model.ZangersName" class="form-control" />
                    <span asp-validation-for="@Model.ZangersName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Lied" class="control-label"></label>
                    <input asp-for="@Model.Lied" class="form-control" />
                    <span asp-validation-for="@Model.Lied" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Songs">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
