@model MyMedia.Models.Series.SerieDetailViewModel
<div class="container-fluid">
    <h2>Serie <i class="fas fa-angle-double-right"></i>  Details <i class="fas fa-angle-double-right"></i>  @Model.Naam</h2>


    @if (@Model.Foto != null)
    {
        <div class="card-img-top">
            <img id="image" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@Model.Foto))" alt="Serie Img" class="img-thumbnail" target="_blank" />
        </div>
    }

    <div class="row justify-content-end">
        <a class="btn btn-warning mr-3" asp-route-id="@Model.Id" asp-controller="Episodes" asp-action="Create">Add Episode</a>
    </div>

    <div class="list-group mt-2">
        @foreach (var seizoen in @Model.Seizoenen.OrderBy(x => x.SeizoenNr))
        {
            <span class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Seizoen @seizoen.SeizoenNr</h5>

                </div>
                <p class="mb-1">
                    <ul class="list-group">
                        @foreach (var episode in @seizoen.Episodes)
                        {
                            <div class="row justify-content-between">
                                <a asp-controller="Episodes" asp-action="Details" asp-route-id="@episode.Id" class="col-11"><li class="list-group-item list-group-item-info"> @episode.Titel</li></a>
                                <a class="btn btn-warning col-1" asp-route-id="@episode.Id" asp-controller="Episodes" asp-action="Details">Details <i class="fas fa-caret-right"></i></a>
                            </div>

                        }
                    </ul>
                </p>
            </span>
        }
    </div>
</div>





