@model MyMedia.Models.Podcast.PodcastCreateViewModel
@using Microsoft.AspNetCore.Identity;
@using MyMedia.Core.User;
@inject SignInManager<MediaUser> SignInManager
@inject UserManager<MediaUser> UserManager
<div class="container">
    <h2>Podcast <i class="fas fa-angle-double-right"></i>Create</h2>
    <hr />
    <div class="container">
        <div class="row col-9">
            <form enctype="multipart/form-data" asp-controller="Podcasts" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Titel" class="control-label"></label>
                    <input asp-for="@Model.Titel" class="form-control" />
                    <span asp-validation-for="@Model.Titel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Photo" class="control-label"></label>
                    <input asp-for="@Model.Photo" class="form-control" />
                    <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PodcastLink" class="control-label"></label>
                    <input asp-for="@Model.PodcastLink" class="form-control" />
                    <span asp-validation-for="@Model.PodcastLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Create Podcast</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
