@model MyMedia.Models.Podcast.PodcastCreateViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <div class="container">
        <h2>Podcast <i class="fas fa-angle-double-right"></i>Create</h2>
        <hr />
        <div class="container">
            <div class="row col-9">
                <form enctype="multipart/form-data" asp-controller="Podcasts" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Titel" class="control-label"></label>
                        <input asp-for="@Model.Titel" class="form-control" />
                        <span asp-validation-for="@Model.Titel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Naam" class="control-label"></label>
                        <input asp-for="@Model.Naam" class="form-control" />
                        <span asp-validation-for="@Model.Naam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Foto" class="control-label"></label>
                        <input asp-for="@Model.Foto" class="form-control" />
                        <span asp-validation-for="@Model.Foto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PodcastLink" class="control-label"></label>
                        <input asp-for="@Model.PodcastLink" class="form-control" />
                        <span asp-validation-for="@Model.PodcastLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
