@model MyMedia.Models.Movie.MovieDetailViewModel
@using Microsoft.AspNetCore.Identity
@using MyMedia.Core.MediaClasses
@using MyMedia.Core.User;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager
<div class="container">
    <h2>Movie <i class="fas fa-angle-double-right"></i>Details<i class="fas fa-angle-double-right"></i>@Model.Titel</h2>

    @if (@Model.PlayLists != null && @Model.PlayLists.Count > 0)
    {
        <form enctype="multipart/form-data" asp-controller="PlayList" asp-action="AddToPlaylist" method="post">
            @Html.HiddenFor(pl => pl.MediaId);
            <div class="btn-group">
                @Html.DropDownListFor(x => x.PlayListId,
                    new SelectList(@Model.PlayLists, nameof(PlayList.Id), nameof(PlayList.Name)), "Select PlayList")
                <i class="fas fa-caret-down"></i>
            </div>
            <button type="submit" class="btn btn-primary">Add to playlist</button>
        </form>
    }
    <div class="row">
        <div class="col-9">
            <div class="card mt-5" style="width: 70vh;">
                Score : @Math.Round(@Model.AveragePoints, 2,
            MidpointRounding.ToEven) / 10
                <div class="card-body">
                    @for (var point = 2; point <= (Math.Round(@Model.AveragePoints, 2,
                       MidpointRounding.ToEven)); point += 2)
                    {
                        <i class="fas fa-star"></i>
                    }
                    <h2 class="card-title">@Model.Titel</h2>
                    <div class="">
                        <label> Duurtijd: <b>@Model.Duration</b></label>
                    </div>
                    <div class=" row">
                        @if (@Model.Foto != null)
                        {
                            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@Model.Foto))" alt="Serie Img" class="img-thumbnail  col-6" target="_blank" />
                        }
                        <a class="col-6" href="@Model.IMDBLink">
                            <img border="0" alt="@Model.Titel" src="~/images/imdb_Logo.png" height="30">
                        </a>
                    </div>
                    <div class="row">
                        <span class="badge badge-secondary" asp-for="@Model.Status">@Model.Status</span>
                    </div>

                </div>
            </div>

            <form enctype="multipart/form-data" asp-controller="Movie" asp-action="RateMovie" method="post">
                @Html.HiddenFor(x => x.MediaId)

                @if (!@Model.IsRated)
                {
                    @Html.TextBoxFor(x => x.Points, new { type = "number" })
                    <button type="submit" class="btn btn-primary">Rate</button>
                }
            </form>
        </div>
        <div class="col-3 mt-5">

        </div>

    </div>

    <div>
        <a asp-controller="Movie" asp-action="Index"> Go back to list</a>
    </div>
</div>




