@model MyMedia.Models.Movie.MovieEditViewModel
@using MyMedia.Core.Enums
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    <h2>Movie <i class="fas fa-angle-double-right"></i>Edit</h2><i class="fas fa-angle-double-right"></i>@Model.Titel
    <form enctype="multipart/form-data" asp-controller="Movie" asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="@Model.Titel"></label>
            <input class="form-control" asp-for="@Model.Titel" />
            <span class="text-danger" asp-validation-for="@Model.Titel"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Duration"></label>
            <input class="form-control" asp-for="@Model.Duration" />
            <span class="text-danger" asp-validation-for="@Model.Duration"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.IMDBLink"></label>
            <input class="form-control" asp-for="@Model.IMDBLink" />
            <span class="text-danger" asp-validation-for="@Model.IMDBLink"></span>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label asp-for="@Model.Foto"></label>
                <input class="form-control" asp-for="@Model.Foto" />
                <span accept=".jpg,.jpeg,.png" class="text-danger" asp-validation-for="@Model.Foto"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label asp-for="@Model.ReleaseDate"></label>
                <input asp-for="@Model.ReleaseDate" placeholder="Selected date" type="text" id="datepicker" class="form-control datepicker">
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            @foreach (var mogelijkeStatus in Enum.GetNames(typeof(StatusMovie)))
                            {
                                @Html.RadioButtonFor(r => r.Status, mogelijkeStatus.ToString())
                                @Html.Label(mogelijkeStatus.ToString())
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Edit Movie</button>
    </form>
</div>



