@model MyMedia.Models.Media.MediaOverviewViewModel
@using Microsoft.AspNetCore.Identity
@using MyMedia.Core.User
@inject SignInManager<MediaUser> SignInManager
@inject UserManager<MediaUser> UserManager
   
    <div class="container">

        <div class="card-body">
            @using (Html.BeginForm("ApproveMedia", "Media", FormMethod.Post))
            {
                @if (@Model.UnApprovedMediaList != null && Model.UnApprovedMediaList.Any() == true)
                {

                    for (int i = 0; i < Model.UnApprovedMediaList.Count(); i++)
                    {

                        if (Model.UnApprovedMediaList[i].Photo != null)
                        {
                            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.UnApprovedMediaList[i].Photo))" alt="media Img" border="0" style="max-width: 130px;" />
                        }
                        @Html.CheckBoxFor(c => c.UnApprovedMediaList[i].IsChecked)
                        @Model.UnApprovedMediaList[i].Titel
                        @Html.HiddenFor(c => c.UnApprovedMediaList[i].Titel)
                        @Html.HiddenFor(c => c.UnApprovedMediaList[i].Id)

                        <span>Added by User: @Model.UnApprovedMediaList[i].AddedByMediaUserName</span>
                        <br />
                        <input class="btn btn-primary" type="submit" value="Approve Selected Items" />
                    }

                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        There is no media waiting for approval.
                    </div>
                }


            }
        </div>
    </div>









