@model MyMedia.Models.Series.Episodes.EpisodeCreateViewModel
    <form enctype="multipart/form-data" asp-controller="Series" asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="@Model.SerieName"></label>
            <input class="form-control" asp-for="@Model.SerieName" />
            <span class="text-danger" asp-validation-for="@Model.SerieName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Titel"></label>
            <input class="form-control" asp-for="@Model.Titel" />
            <span class="text-danger" asp-validation-for="@Model.Titel"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Photo"></label>
            <input class="form-control" asp-for="@Model.Photo" />
            <span class="text-danger" asp-validation-for="@Model.Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description"> </label>
            <input class="form-control" asp-for="@Model.Description" />
            <span class="text-danger" asp-validation-for="@Model.Description"></span>

        </div>


    </form>