@model MyMedia.Models.Movie.MovieListViewModel

<div class="col-6 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="card-img-top">
                @if (Model.Photo != null)
                {
                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Photo))" alt="Movie Img" class="img-thumbnail" target="_blank" />
                }
            </div>
            <div class="hit-the-floor">
                <h4>@Model.Titel</h4>
            </div>
            <a asp-action="Edit" asp-controller="Movies" asp-route-id="@Model.Id"> Edit</a>
            <a asp-action="Delete" asp-controller="Movies" asp-route-id="@Model.Id"> Delete</a>
            <a asp-action="Details" asp-controller="Movies" asp-route-id="@Model.Id"> Details</a>
        </div>
    </div>
</div>